* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
}

/* Barre de navigation */
nav {
    display: flex;
    justify-content: space-around;
}

.menu_nav {
    background-color: #494949;
    padding: 20px;
}

a {
    color:  #EADBC8; 
    text-decoration: none;
}

a:hover {
    color: #F8F0E5;
    text-decoration: bold;
}

a:visited {
    color: #DAC0A3;
}

/* Images bureau */
.photo-bureau {
    width: 100%;
    height:auto;
}

/* A propos */
.titre-a-propos {
    color: #494949;
    font-size: 25px;
    padding-top: 50px;
    background-color: #F8F0E5;
    text-align: center;
}
.fond_a_propos {
    background-color: #F8F0E5;
    display: flex;
    text-align: justify;
}

/* Introduction */
p {
    color: #494949;
    padding:20px;
    text-align: justify;
    line-height: 25px;
}

.introduction {
    padding: 90px;
}
.photo_profil {
    padding: 20px;
    width: 250px;
    height: 250px;
    }


/* Portefolio */
.portefolio {
    background-color: #DAC0A3;
}

h2, h3 {
    text-align: center;
    padding-top: 50px;
    color: #494949;
}

h4 {
    padding: 20px;
    font-style: italic;
}

/* Etudes */

.logo_ecole {
    width: 200px;
    height:auto;
}

.ecole {
    text-align: center;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
}

